.container-principal {
    width: 940px;
    margin: 0 auto;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sacola {
    width: 140px;
    text-align: right;
    background: url('../img/sacola.png');
    background-repeat: no-repeat;
    background-position: top right;
    padding-right: 30px;
    padding-top: 8px;
    font-size: 14px;
}

.menu-navegacao {
    display: flex;
    height: 60px;
    align-items: flex-end;
}

.menu-navegacao li {
    margin-left: 30px;
}

.menu-navegacao a {
    color: #036;
    text-decoration: none;
}

.menu-navegacao a:hover {
    color: #1200ff;
}


/*-----------------principal--------------*/

.inicio {
    display: flex;
    justify-content: center;
}

.inicio h3 {
    font-size: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.busca {
    background-color: #acacac;
    width: 200px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.busca button {
    background: url('../img/busca.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    border: none;
    padding-right: 10px;
    cursor: pointer;
}

.departamentos {
    background-color: #acacac;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
}

.departamentos ul {
    background-color: #fff;
    width: 200px;
    margin-left: -10px;
    padding: 10px;
}

.departamentos li {
    line-height: 1.5em;
}

.departamentos li ul {
    display: none;
    padding: 2px 0 2px 15px;
}

.departamentos li:hover ul {
    display: block;
}

.departamentos a {
    display: block;
    color: #434343;
    text-decoration: none;
}

.departamentos a:hover {
    transform: scale(1.1);
    font-weight: bold;
}

.banner {
    margin-left: 30px;
}


/*-------------------PAINEL------------------*/

.paineis {
    display: flex;
    justify-content: center;
}

.novidades,
.mais-vendidos {
    display: flex;
    justify-content: center;
    width: 470px;
    flex-wrap: wrap;
    padding: 10px 0;
}

.painel {
    background: linear-gradient(#f5dcdc, #dcdcf5);
    margin: 20px 5px;
    box-shadow: 0 0 5px;
}

.painel+.painel {
    background: linear-gradient(#dcdcf5, #f5dcdc);
}

.painel li {
    margin: 5px;
}

.painel li:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #bbb;
    transition: .3s;
}

.painel a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #1d1d1d;
}

.painel h3 {
    font-size: 25px;
    padding: 5px 0 0 20px;
    text-transform: uppercase;
    margin-top: 10px;
}


/*-------------RODAPE------------*/

footer {
    background: url('../img/fundo-rodape.png');
}

.rodape-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.social ul {
    display: flex;
}

.social li {
    display: flex;
    margin-left: 50px;
    align-items: center;
}

.social a {
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    text-indent: -9999px;
}

.social a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #fff;
    ;
}

.social a[href*=google] {
    background: url('../img/googleplus.png');
}

.social a[href*=facebook] {
    background: url('../img/facebook.png');
}

.social a[href*=twitter] {
    background: url('../img/twitter.png');
}